* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    color: #333;
}

.wrap {
    display: flex;
    flex-direction: column;
    min-height: 100svh;
}

.inner {
    display: flex;
    flex: 1;
}

header {
    width: 200px;
    background: lightblue;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    background: lightpink;
}

.row-1 {
    flex: 1;
    display: flex;
    height: 400px;
}
.row-1 .col-left {
    flex: 1;
    background: rgb(226, 226, 226);
}
.row-1 .col-right {
    width: 230px;
    background: rgb(183, 183, 183);
}

.row-2 {
    display: flex;
    gap: 30px;
    height: 250px;
}
.row-2 .col-left,
.row-2 .col-right {
    flex: 1;
    background: yellow;
}

footer {
    height: 100px;
    background: lightgreen;
}
