/* reset */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    color: #333;
}

/* layout */
/* .wrap {
    display: flex;
    flex-direction: column;
    min-height: 100svh;
} */

.inner {
    display: flex;
    flex: 1;
}

header {
    width: 200px;
    border-right: 1px solid #eee;
}

main {
    /* display: flex;
    flex-direction: column; */
    flex: 1;
}

.row-1 {
    flex: 1;
    display: flex;
    height: 400px;
}
.row-1 .col-left {
    flex: 1;
    background: rgb(226, 226, 226);
}
.row-1 .col-right {
    width: 230px;
    background: rgb(183, 183, 183);
}

.row-2 {
    display: flex;
    gap: 30px;
    height: 250px;
}
.row-2 .col-left,
.row-2 .col-right {
    flex: 1;
    padding: 20px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 10px 20px;
    background: #eee;
}

footer h1 img {
    display: block;
    width: 60%;
    filter: grayscale(100%);
    opacity: 0.5;
}

/* logo */
h1 a {
    display: block;
}
h1 a img {
    display: block;
    width: 160px;
    height: 100px;
    margin: 30px auto;
}

/* nav */
nav {
    margin-top: 50px;
}
.nav-depth1 > li:hover .nav-depth2 {
    max-height: 300px;
}
.nav-depth1 > li > a {
    display: block;
    padding: 18px 20px 15px;
    border-bottom: 1px solid red;
    font-size: 18px;
    font-weight: 500;
}
.nav-depth1 > li {
    position: relative;
}
.nav-depth2 {
    /* position: absolute;
    top: 0;
    left: 100%; */
    overflow: hidden;
    max-height: 0;
    background: #eee;
    transition: all 0.3s;
    /* display: none; */
}
.nav-depth2 li a {
    position: relative;
    display: block;
    min-width: 150px;
    padding: 7px 20px 5px 30px;
    /* white-space: nowrap; */
}
.nav-depth2 li a::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    width: 3px;
    height: 3px;
    background: red;
}

/* slide */
.slide {
    position: relative;
    overflow: hidden;
}
.slide ul {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 300%;
    height: 100%;
    transition: left 0.3s;
}
.slide li {
    width: 100%;
}
.slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* slide */
/* .slide {
    overflow: hidden;
}
.slide ul {
    display: flex;
    width: 300%;
    height: 100%;
}
.slide li {
    width: 100%;
}
.slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 50%;
} */

h2 {
    margin-bottom: 20px;
}

/* 공지사항 */
.list-bbs a {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}
.list-bbs span {
    display: block;
    overflow: hidden;
    width: 80%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.list-gallery {
    display: flex;
    justify-content: space-between;
}
.list-gallery li {
    width: 30%;
    text-align: center;
}
.list-gallery img {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

/* tabs */
.tabs {
    display: flex;
    position: relative;
}
.tabs .active h2 {
    background-color: #bd0000;
    color: white;
}
.tabs h2 {
    padding: 5px;
    white-space: nowrap;
}
.tabs ul {
    display: none;
}
.tabs .active ul {
    display: block;
    position: absolute;
    top: 80px;
    left: 20px;
}

.tabs .active.col-right ul {
    display: flex;
}

/* modal */
.modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}
.modal-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 500px;
    height: 300px;
    background: #fff;
    border-radius: 20px;
}
.modal-box strong {
    font-size: 30px;
}
.modal-box p {
    font-size: 20px;
}
.modal-box button {
    display: block;
    padding: 10px 20px;
    background: #bd0000;
    border: none;
    color: #fff;
    font-size: 20px;
}
