@charset "UTF-8";

/* reset */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  line-height: 1.5;
  box-sizing: border-box;
  color: #333;
}
.blind {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
}

.wrap {
  width: 1200px;
  margin: auto;
  background: #eee;
}
header {
  position: relative;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  border-bottom: 1px solid #000;
}
.gnb .gnb-depth1 {
  display: flex;
}
.gnb .gnb-depth1 > li {
  position: relative;
}
.gnb .gnb-depth1 > li > a {
  display: block;
  width: 120px;
  font-size: 20px;
  text-align: center;
}
.gnb .gnb-depth1 > li:hover > a {
  color: #3cb149;
  font-weight: bold;
}
/* 이후 상태 : h:, p: 10px 0, op: 1 */
.gnb .gnb-depth1:hover > li .gnb-depth2 {
  height: 130px;
  padding: 10px 0;
  opacity: 1;
}
/* 이전 상태 : height: 0, padding:0, opacity: 0 */
.gnb .gnb-depth2 {
  overflow: hidden;
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  height: 0;
  padding: 0;
  background: #434748;
  transition: all 0.3s;
}
.gnb .gnb-depth2 li a {
  display: block;
  padding: 7px 0;
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.slide {
  position: relative;
  overflow: hidden;
  height: 300px;
  background: lightcoral;
}
.slide ul {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}
.slide img {
  display: block;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
}
.sec-g {
  position: relative;
  width: 30%;
  height: 180px;
}
.sec-g .sec-tit {
  margin-bottom: 10px;
  padding-bottom: 2px;
  border-bottom: 2px solid #000;
  font-size: 20px;
}
.sec-g .link-more {
  position: absolute;
  top: 3px;
  right: 0;
}

.lst-bbs li {
  position: relative;
  padding-left: 10px;
}
.lst-bbs li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 5px;
  height: 5px;
  background: blue;
}
.lst-bbs a {
  overflow: hidden;
  display: block;
  padding: 2px 0;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.lst-gallery {
  display: flex;
  justify-content: space-between;
}
.lst-gallery li {
  width: 30%;
}
.lst-gallery img {
  display: block;
  width: 100%;
  height: 80px;
  object-fit: cover;
  object-position: 50% 0;
  border-radius: 3px;
}
.lst-gallery p {
  margin-top: 5px;
  font-size: 14px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  border-top: 1px solid #000;
}

.logo-foot img {
  filter: grayscale(100%);
}
.copyright {
  text-align: center;
}
.family a {
  padding: 10px;
}
